@model List<ShopHai.Models.Product>
@inject ICategoryRepository categoryRepository
<div class="banner" style="text-align: center;background-color: pink;border-radius: 160px;">
    <img style="

    width: 50%;

" src="~/img/giphy.gif" />
</div>

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2 style="color: pink">Shop Hai</h2>
                    <p>Very us move be blessed multiply night</p>
                </div>
                <div class="page_link">
                    <a href="index.html">Home</a>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="cat_product_area " style="margin-top: 40px;">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-lg-9">
                <div class="product_top_bar">
                    <form method="get" action="/Home/Search">
                        <input style="height: 38px;" type="text" name="productName" placeholder="Nhập từ khóa tìm kiếm" />
                        <button style="border:1px solid black; height:38px;margin-right: 50px;margin-left: -4px;" type="submit">Search</button>
                    </form>

                    <button style="height: 38px; border: 1px solid black;">
                        <a asp-controller="Product" asp-action="Index" class="text-dark nav-link">Sort by Price(high to low)</a>

                    </button>


                </div>
                <div class="latest_product_inner">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-3 col-md-6">
                                <div class="single-product">
                                    <div class="product-img">
                                        <img class="card-img"
                                         src="/img/@item.ProductImage"
                                         alt="" />
                                        <div class="p_icon">
                                           
                                            <a href="#">
                                                <i class="ti-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-btm">

                                        <h4><a href="/Home/Detail/@item.ProductId" class="d-block">@item.ProductName</a></h4>

                                        <div class="mt-3">
                                            <span class="mr-4">@item.Price</span>
                                            <del>$35.00</del>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="left_sidebar_area">
                    <aside class="left_widgets p_filter_widgets">
                        <div class="l_w_title">
                            <h3>Browse Categories</h3>
                        </div>
                        <div class="widgets_inner">
                            <ul class="list">
                                @foreach (var item in categoryRepository.GetAll())
                                {
                                    <li><a asp-controller="Home" asp-action="findProductByCategoryId" asp-route-id="@item.CateId">@item.CateName</a></li>
                                }


                            </ul>
                        </div>
                    </aside>
                </div>
            </div>

        </div>
    </div>
</section>